.review-table{
    position: relative;
    background-color: #cd99da;
    width: 100vw;
    padding: 10px;
    margin: 10px;
   
}
.back--btn2{
    position: fixed;
    /* width: 50px; */
    background-color: #9e41b6;
}


@media screen and (max-width: 300px){
    
}